.form_add {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form_add input[type="text"],
  .form_add button[type="submit"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form_add button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .form_add button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .form_add input[type="text"]::placeholder {
    color: #aaa;
  }
  
  .form_add input[type="text"]:focus,
  .form_add button[type="submit"]:focus {
    outline: none;
  }
  
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}  
